<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-black shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../../assets/vzLogo.png" alt="Grynow" class="header-logo" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav nav-underline ms-auto">
                    <li class="nav-item dropdown" (mouseover)="toggleOurWork(true)" (mouseleave)="toggleOurWork(false)">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Our Work
                        </a>
                        <ul class="dropdown-menu" [class.show]="isOurWorkVisible" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="#">Influencer Marketing Campaigns in India</a></li>
                            <li><a class="dropdown-item" href="#">Influencer Marketing Campaigns in Middle East</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" (mouseover)="toggleServices(true)"
                        (mouseleave)="toggleServices(false)">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Services
                        </a>
                        <div class="dropdown-menu p-3 servicesDdl" [class.show]="isServicesVisible" aria-labelledby="ServicesDropdown">
                            <div class="row">
                              <div class="col-md-6 col-lg-3" *ngFor="let service of servicesList">
                                <h5 class="dropdown-header"><i [class]="service.iconClass"></i> {{ service.heading }}</h5>
                                <ul class="list-unstyled">
                                  <li *ngFor="let option of service.options">
                                    <a class="dropdown-item" [routerLink]="option.link">{{ option.label }}</a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                    </li>
                    <li class="nav-item dropdown" (mouseover)="toggleCountries(true)"
                        (mouseleave)="toggleCountries(false)">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Countries
                        </a>
                        <ul class="dropdown-menu" [class.show]="isCountriesVisible" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="#">Influencer Marketing Campaigns in India2</a></li>
                            <li><a class="dropdown-item" href="#">Influencer Marketing Campaigns in Middle East2</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown" (mouseover)="toggleAbout(true)" (mouseleave)="toggleAbout(false)">
                        <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            About
                        </a>
                        <ul class="dropdown-menu" [class.show]="isAboutVisible" aria-labelledby="aboutDropdown">
                            <li><a class="dropdown-item" href="#">Influencer Marketing Campaigns in India</a></li>
                            <li><a class="dropdown-item" href="#">Influencer Marketing Campaigns in Middle East</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>