.container {
    background-color: #0f1634;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.body-content{
    padding-inline: 20px;
}

.light-weight {
    color: aliceblue;
    font-size: 2rem;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}

.brand-text {
    display: flex;
    /* Activate Flexbox */
    justify-content: space-between;
    /* Distribute space between h3 and button */
    align-items: center;
    /* Align items vertically in the center */
    padding: 10px;
    /* Optional: Add some padding around the container */
}

.btn-gradient {
    background: linear-gradient(#f3f7fb, #f3f7fb) padding-box, linear-gradient(90deg, #495cdf 0%, #ff0000 100%) border-box;
    color: #313149;
    padding: 11px 30px;
    border: 2px solid #fff0;
    border-radius: 6px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    text-decoration: none
}

.btn-gradient:hover {
    border-color: rgba(255, 255, 255, 0);
    border-image: linear-gradient(90deg, #495cdf, #ff0000) 1;
    box-shadow: 0 0 10px rgb(73 92 223 / .5)
}

.gradient-bg {
    background: linear-gradient(#0e1634, #0e1634) padding-box, linear-gradient(90deg, #495cdf 0%, #ff0000 100%) border-box;
    color: #fff;
}

.gradient-bg:hover{
    color: #fff;
    background: linear-gradient(90deg, #495cdf, #ff0000);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
}

.brand-card-wrapper {
    height: 375px;
    padding: 2rem;
    background: #0f1634;
    border: 1px solid #fff6;
    border-radius: 12px;
    margin-bottom: 2rem;
}

.brand-card-wrapper:hover, .brand-card-wrapper.always-hover {
    background: #35406d;
    border: none;
}

h3{
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.42;
}

p{
    color: #fff;
    font-size: 1rem;
    margin: 1em 0;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
    font-family: "Tahoma", "Helvetica Neue";
}

img {
    width: 70px;
    height: 71px;
}
