<div class="container">
  <div class="body-content">
    <div class="row">
      <div class="brand-text">
        <h2 class="light-weight ">Our <strong>Influencer Marketing</strong> Experts </h2>
        <p><a href="contact-us.html" class="btn-gradient gradient-bg influ-cta"> Contact Us </a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="brand-card-wrapper">
          <img src="\assets\targeted.png" class=" lazyloaded" alt="Understand your business goals">
          <h3>Understand your business goals</h3>
          <p>We thoroughly discuss your marketing/business goals and craft the strategies accordingly.</p>
        </div>
      </div>
      <div class="col-4">
        <div class="brand-card-wrapper">
          <img src="\assets\brand.png" class=" lazyloaded" alt="Connect brands with influencers">
          <h3>Connect brands with influencers</h3>
          <p>With help of our AI Dashboard, we select and connect with top influencers across 70+ countries who have
            interested viewers for your brand’s product/service and can eventually become your customers. </p>
        </div>
      </div>
      <div class="col-4">
        <div class="brand-card-wrapper">
          <img src="\assets\campaigns.png" class=" lazyloaded" alt="Understand your business goals">
          <h3>Strategize & Execute influencer marketing campaigns</h3>
          <p>We design/strategize content and execute personalized and scalable campaigns that resonate with your brand
            and engage your target audience. Let’s connect! </p>
        </div>
      </div>
    </div>
  </div>
</div>