<section class="brand-help-block block-padd">
    <div class="container">
        <div class="column block-title influ-text">
            <h2 class="light-weight">How Our <span>Influencer Marketing</span> Company Helps Brands?</h2>
            <p>Leveraging the talents of professional social media influencers and content creators, our influencer
                marketing experts collaborate with visionary strategists to develop imaginative, distinctive content
                that boasts exceptional shareability and engagement. Opt for the best influencer marketing services to
                elevate your brand's presence!</p>
        </div>
        <div class="container text-center">
            <div class="row row-cols-auto">
                <div class="col-6">
                    <p class="brand-help-text">Our influencer marketing company devises a comprehensive strategy to:</p>
                    <div class="accod-panel active">
                        <h3 class="accod-head">Build Trust:<i class="fas fa-minus"></i></h3>
                        <div class="accod-content">
                            <p>Utilize the trusted relationship between influencers and their followers to position your
                                product superior.</p>
                        </div>
                    </div>
                    <div class="accod-panel">
                        <h3 class="accod-head">Attract, Engage, and Convert:<i class="fas fa-plus"></i></h3>
                        <div class="accod-content">
                            <p>We help businesses to attract, engage, and convert their potential customers by
                                increasing their awareness, leads, and sales through organic engagement via
                                creator-generated content.</p>
                        </div>
                    </div>
                    <div class="accod-panel">
                        <h3 class="accod-head">Influencing Buying Decision:<i class="fas fa-plus"></i></h3>
                        <div class="accod-content">
                            <p>Hence, helping in inspiring their decision to buy our client’s product.</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="gif-wrapper">
                      <video id="marketing-video" class="gif-video" autoplay muted loop playsinline disablePictureInPicture controlsList="nodownload nofullscreen noremoteplayback">
                        <source src="assets/how-our-influencer-marketing-company.mp4" type="video/mp4">
                      </video>
                    </div>
                  </div>
                                   
            </div>
        </div>
    </div>
</section>