
    <div class="influ-text">
        <h2 class="light-weight">Largest <span>Influencer Marketing</span> Platform in India</h2>
    </div>

    <!-- Wrapper for all columns with a border -->
    <div class="content-wrapper">
        <div class="row starts-wrapper">
            <div class="col">
                <p class="stats-heading">3500+</p>
                <p>Personalized Influencer<br>Campaigns Executed</p>
            </div>
            <div class="col">
                <p class="stats-heading">1500+</p>
                <p>Top-Notch Brands Trust Us For Their Influencer Marketing</p>
            </div>
            <div class="col">
                <p class="stats-heading">300M+</p>
                <p>Global Influencers &amp; Content Creators</p>
            </div>
            <div class="col">
                <p class="stats-heading">8+</p>
                <p>Years Experience in Executing Customized Campaigns</p>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col">
                <div class="et-icon"></div>
                <p class="stats-heading"></p>
                <p>Awarded By Economic Times For The Best Campaign In 2022</p>
            </div>
            <div class="col">
                <div class="Star-badge"></div>
                <p class="stats-heading"></p>
                <p>Executed India’s Biggest Influencer Marketing Campaign (Most Views)</p>
            </div>
            <div class="col">
                <div class="Global-icon"></div>
                <p class="stats-heading"></p>
                <p>Having presence in US, UK, Indonesia, Philippines &amp; GCC</p>
            </div>
            <div class="col">
                <div class="ai-icon"></div>
                <p class="stats-heading"></p>
                <p>Comprehensive AI Dashboard</p>
            </div>
        </div>
    </div>

