<div class="home-page-banner">
  <app-header></app-header>
  <section>
    <div class="container">
      <div class="row">
        <div class="col left-section">
          <h1>Best <span>Influencer Marketing</span> <br> Agency in India</h1>
          <p>Grynow is the best Influencer marketing agency in India which provides the top influencer marketing
            platform
            to help brands / visionary marketers leverage social media influencers’ content in marketing and advertising
            their products/services. </p>
          <div class="banner-cta">
            <button onclick="return redirectToBrand()" class="btn btn-primary">Contact Us</button>
          </div>
        </div>
        <div class="col">
          <div class="right-section">
            <div class="video-wrapper">
              <video id="banner-video" playsinline="true" autoplay="" muted="" loop="" preload="auto"
                poster="../assets/HomePage/banner-video.webp">
                <source src="../assets/HomePage/banner-video.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="new-clients-block">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="marquee">
            <ul class="marquee-content">
              <li>
                <img src="../assets/Brands/akshayakalpa.webp" class=" ls-is-cached lazyloaded" alt="bewakoof">
              </li>
              <li>
                <img src="../assets/Brands/amazon-logo.webp" class=" ls-is-cached lazyloaded" alt="bigbasket">
              </li>
              <li>
                <img src="../assets/Brands/baidyanath.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>
              <li>
                <img src="../assets/Brands/carnival-park.webp" class=" ls-is-cached lazyloaded" alt="amazon">
              </li>
              <li>
                <img src="../assets/Brands/casio.webp" class=" ls-is-cached lazyloaded" alt="bewakoof">
              </li>
              <li>
                <img src="../assets/Brands/chinese-wok.webp" class=" ls-is-cached lazyloaded" alt="bigbasket">
              </li>
              <li>
                <img src="../assets/Brands/fb.webp" class=" ls-is-cached lazyloaded" alt="amazon">
              </li>
              <li>
                <img src="../assets/Brands/gnc.webp" class=" ls-is-cached lazyloaded" alt="bewakoof">
              </li>
              <li>
                <img src="../assets/Brands/google-india.webp" class=" ls-is-cached lazyloaded" alt="bigbasket">
              </li>
              <li>
                <img src="../assets/Brands/grab.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>
              <li>
                <img src="../assets/Brands/groww.webp" class=" ls-is-cached lazyloaded" alt="amazon">
              </li>
              <li>
                <img src="../assets/Brands/indrive.webp" class=" ls-is-cached lazyloaded" alt="bewakoof">
              </li>
              <li>
                <img src="../assets/Brands/innovista.webp" class=" ls-is-cached lazyloaded" alt="bigbasket">
              </li>
              <li>
                <img src="../assets/Brands/kapiva.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>
              <!-- <li>
                <img src="../assets/Brands/khatabook.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/lenskart.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/magicpin.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>   
              <li>
                <img src="../assets/Brands/motilal-oswal.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/neolayer-pro.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/noise.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/nykaa.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/oneplus.webp" class=" ls-is-cached lazyloaded" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/organic-india.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/paytm-logo.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/pine-labs.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/privo.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/redcliffe-labs.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/requil.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/saffola.webp" class="lazyload" alt="boat">
              </li>  
  
              <li>
                <img src="../assets/Brands/sony.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/teji-mandi.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/urbanrise.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/well-being.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/xpert.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/yamaha.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/yt.webp" class="lazyload" alt="boat">
              </li>  
              <li>
                <img src="../assets/Brands/fortis.webp" class="lazyload" alt="boat">
              </li>   -->
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>
</div>